body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#wrapper {
  width: 30%;
  margin: 50px auto;
  padding: 50px;
}
form {
  margin: 30px auto;
}
.textInput {
  border-radius: 5px;
  height: 28px;
  margin: 2px;
  border: 1px solid skyblue;
  font-size: 1.2em;
  padding: 5px;
  width: 95%;
}
.textInput:focus {
  outline: none;
}
.btn {
  width: 98.6%;
  border: none;
  margin-top: 5px;
  color: white;
  background-color: skyblue ;
  border-radius: 5px;
  padding: 12px;
}
